<div>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUyfze5QXesr4lvBcOwkFPD0u6Rzgx80dYOQ&usqp=CAU">
    <h1>{{ charactersDetail.name }}</h1>
    <ul>
        <li>
            <img src="{{ charactersDetail.image }}" alt="">
            <p>Location: {{ charactersDetail.location }}</p>
            <p>Gender: {{ charactersDetail.gender }}</p>
            <p>Status: {{ charactersDetail.status }}</p>
        </li>
    </ul>
    </body>
    <footer>
        <p class="footer">@2021 Rick and Morty. Todos los derechos reservados</p>
    </footer>
</div>

