<nav class="navbar">
    <ul class="navbar-menu">
        <li class="navbar-item"><a class="navbar-link" [routerLink]="['']">Home</a></li>
        <li class="navbar-item"><a class="navbar-link" [routerLink]="['about']">About</a></li>
        <li class="navbar-item"><a class="navbar-link" [routerLink]="['characters']">Characters</a></li>
        <!-- <li class="navbar-item"><a class="navbar-link" [routerLink]="['episodes']">Episodes</a></li>
        <li class="navbar-item"><a class="navbar-link" [routerLink]="['locations']">Locations</a></li> -->
    </ul>
</nav>
